body {
    background-color: #ccc;
}
main {
    background-color: white;
}

.p1 {

}
    div.p1 p {
        margin-top: 0;
    }

.floatright {
    float: right;
    margin: auto;
    background-color: #fff;
    padding: 10px;
    border: solid #ccc;
}
    div.floatright figure {

    }
    div.floatright img {
        max-width: 35%;
    }

.floatleft {
    float: right;
    margin: 0 0 10px 10px;
    background-color: #fff;
    padding: 10px;
    border: solid #ccc;
}
    div.floatleft figure {

    }
    div.floatleft img {
        max-width: 25%;
    }
