html, body {
    box-sizing: border-box;
}

body {
    background-color: #ddd;
    max-width: 800px;
    margin: auto;
    margin-top: .5%;
    margin-bottom: .8%;
}

main {
    background-color: white;
    margin-top: 0%;
    padding-right: 3.8%;
    padding-left: 3.8%;
    padding-bottom: 4%;
}

h1 {    
    font-family: 'Seaweed Script', cursive;
    font-size: x-large;
    margin-top: 1%;
    padding-top: 7%;
}

p {
    font-family: 'Nanum Brush Script', cursive;
}

.floatright {
    float: right;
    margin-left: 2%;
    margin-bottom: 3%;
    width: 35%;   /* THE MOST IMPORTANT THING JESUS CHRIST WHY DID THIS TAKE SO LONG TO FIGURE OUT*/
    transform: rotate(3deg);
    background-color: #fff;
    border: solid #ddd;
    box-shadow: 5px 5px #ddd;
    
}
    div.floatright figure {
        margin-top: 3%;
        margin-left: 3%;
        margin-right: 3%;

    }
    div.floatright img {
        max-width: 100%;
        max-height: 100%;
    }
    div.floatright figcaption {
        text-align: center;
        font-family: 'Nanum Brush Script', cursive;
        margin-top: 5%;
    }


.floatleft {
    float: left;
    width: 35%;
    margin-right: 4%;
    margin-bottom: 3%;
    transform: rotate(-3deg);
    background-color: #fff;
    border: solid #ddd;
    box-shadow: 5px 5px #ddd;
}
    div.floatleft figure {
        margin-top: 3%;
        margin-left: 3%;
        margin-right: 3%;
    }
    div.floatleft img {
        max-width: 100%;
        max-height: 100%;
    }
    div.floatleft figcaption {
        text-align: center;
        font-family: 'Nanum Brush Script', cursive;
        margin-top: 5%;
    }
